<div class="container">
  <div class="row justify-content-center pt-5 ">
     <div class="col-4 caja_inputs">
       <div class="row pt-3">
         <div class ='col'>
           <h1 class="m-0"><b>Recuperar Contraseña</b></h1>
         </div>
         <div class ='col-2 d-flex justify-content-end align-self-center'>
          <a routerLink="/login" routerLinkActive="active">
           <mat-icon  aria-hidden="false" aria-label="Cerrar" fontIcon="close"></mat-icon>
          </a>
         </div>
       </div>
       <div class="row pt-3">
         <div class ='col'>
           <div class="mb-3">
             <label for="contrasenaUsuario" class="form-label">Nueva Contraseña</label>
             <input type="password" class="form-control" id="contrasenaUsuario" value='123456'>
           </div>
         </div>
       </div>
       <div class="row pt-3">
        <div class ='col'>
          <div class="mb-3">
            <label for="ConfirmarContrasenaUsuario" class="form-label">Confirmar Nueva Contraseña</label>
            <input type="password" class="form-control" id="ConfirmarContrasenaUsuario" value='123456'>
          </div>
        </div>
      </div>
       <div class="row">
         <div class ='col-8 mb-3 d-grid gap-2v mx-auto'>
             <button class="btn btn-info texto_boton" type="button" (click)="finalizaRecuperacion()">Recuperar Contraseña</button>
         </div>
       </div>
     </div>
  </div>
 </div>


 <!--Modales-->
<div class="modal" tabindex="-1" id="modalConfirmacionFinaliza" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Contraseña recuperada correctamente</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" >Aceptar</button>
      </div>
    </div>
  </div>
</div>
