<div class="container-fluid text-center pt-5">
  <div class="row pt-5">
    <div class="col">
      <img src="/assets/dormir_bien.png" class="img-fluid" alt="...">
    </div>
    <div class="col align-self-center">
      <div class="row pt-5 pb-5">
        <div class="d-grid gap-5 col-4 mx-auto">
          <a class="btn btn-info d-flex  align-content-between" routerLink="/login" routerLinkActive="active">
            <i class="material-icons mr-1 pe-3">account_circle</i> <span class="ps-5">Iniciar Sesión</span>
          </a>
          <a class="btn btn-info d-flex  align-content-between" routerLink="/signup" routerLinkActive="active">
            <i class="material-icons mr-1 pe-3">card_travel</i> <span class="ps-5">Crear Cuenta</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <p class="titulo_principal sombra"><b>Bienvenido a alarma App</b></p>
    </div>
  </div>
</div>
