<div class="row">
    <div class="col justify-content-end d-flex justify-content-end align-self-center pe-5 pt-2">
      <div class="dropdown">
        <div style="width: 3rem;height:3rem;" class="bg-info rounded-circle col-2 d-flex justify-content-center align-self-center" data-bs-toggle="dropdown" aria-expanded="false">
          <p class="align-self-center m-0" style="cursor: pointer;">JR</p>
        </div>

        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/">Cerrar Sesión</a></li>
        </ul>
      </div>
    </div>
  </div>




